<form id="login_form" action="/auth/login" method="POST" novalidate="novalidate" autocomplete="off">
    <div>

        {{#if_not no_modal}}
            <div>
                <h2>
                    Login and Start Shopping Now! 
                </h2>
                <br>    
            </div>
        {{/if_not}}   

        <span class="form_error_msg">{{exists_errors.result}}{{authenticated_errors.result}}</span>
    </div>

    <div>
        <label for="username_email">Email/Username</label>
        <input value="{{login_user.username_email}}" name="username_email" id="username_email" placeholder="Enter a Valid Email or Username...">
        <span class="form_error_msg">{{errors.username_email_login}}</span>  
    </div>
    
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter a Valid Password...">
        <span class="form_error_msg">{{errors.password_login}}</span>  
    </div>
    
    {{#if login_animate}}
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> 
    {{/if}}
    <div class="lds-ellipsis hide_element"><div></div><div></div><div></div><div></div></div> 

    <a href="">Forgot Your Password?</a>

    <button {{#if no_modal}}id="login_submit_btn"{{else}}id="header_login_submit_btn"{{/if}} class="button_class" type="submit">
        {{#if_eq logged_in undefined}}Login Now{{else}}Logout{{/if_eq}}
    </button>

    {{#if_not no_modal}}
        <button class="modal_close_btn button_class" type="button"><i class="far fa-times-circle "></i></button>
    {{/if_not}}
    
</form>

