<section class="width_container">
    <div class="greeting_msg">
        {{> database_welcome_msg}}
        <p>Add New Categories Below</p>
    </div>
</section>
<section class="width_container">
    <!--<div class="create_success_msg">
        <p>Category added successfully! Add another or return to the dashboard</p>
    </div>-->
    <form action="/employee/edit-stock/add-categories" method="POST" class="form_class" enctype="multipart/form-data">
        <div id="new_category_list">
            <div class="new_category">
                <h2>Category 1</h2>

                <div class="form_input_container">
                    <label for="category_name[0]">Category Name</label>
                    <input type="text" name="category_name[0]" id="category_name[0]" value="{{created_category.title}}">
                    <span class="form_error_msg">{{errors.title}}</span>     
                </div>
    
                <div class="form_input_container">
                    <label for="category_description[0]">Category Description</label>
                    <textarea name="category_description[0]" id="category_description[0]" cols="30" rows="10">{{#if created_category.description}}{{created_category.description}}{{else}}{{/if}}</textarea>
                    <span class="form_error_msg">{{errors.description}}</span>     
                </div>

                <div class="form_input_container">
                    <label for="category_photo[0]">Category Photo Image Path</label>
                    <input type="text" name="category_photo[0]" id="category_photo[0]" value="{{#if created_category.image_path}}{{created_category.image_path}}{{else}}/img/Category/default_category.jpg{{/if}}">
                    <span class="form_error_msg">{{errors.image_path}}</span>     
                </div>

                <div class="form_input_container">
                    <label for="category_img_upload[0]">Category Image Upload</label>
                    <input type="file" name="category_img_upload[0]" id="category_img_upload[0]">
                    <span class="form_error_msg">{{errors.upload_image}}</span> 
                </div>

                <div class="form_input_container">
                    <h3>Category Image</h3>
                    <img src="{{#if created_category.image_path}}{{created_category.image_path}}{{else}}/img/Category/default_category.jpg{{/if}}" alt="" width="256px" height="256px">
                    <span class="form_error_msg"></span> 
                </div>
            </div>
        </div>
        <div>
            <button type="button" id="add_category_btn" class="button_class product_button event_button"><i class="fas fa-plus"></i> Add Category</button>
            <button type="button" id="remove_category_btn" class="button_class product_button event_button remove_element remove_button"><i class="fas fa-minus"></i> Remove Category</button>
        </div>        
        <div>
            <button type="submit" class="button_class product_button">Submit <i class="fas fa-arrow-right"></i></button>
            <a href="/employee/edit-stock/categories" class="button_class product_button"><i class="fas fa-arrow-left"></i> Go Back</a>
        </div>
    </form>
</section>