<section class="width_container">
    <div class="greeting_msg">
        {{> database_welcome_msg}}
        <p>Edit Product '{{product.title}}' - Code: {{product.product_code}} - Below</p>
    </div>
</section>
<section class="width_container">
    <div class="table_container">
        <table class="edit_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Bestseller</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.category.title}}</td>
                    <td>${{product.selling_price}}</td>
                    <td>{{product.current_quantity}}</td>
                    <td>{{product.is_best_seller}}</td>
                    <td><img src="{{product.image_path}}" alt="" width="128px" height="128px"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <form action="/employee/edit-stock/edit-product/{{product.product_code}}?method=put" method="POST" class="form_class" enctype="multipart/form-data">
        <div class="profile_container">
            
            <div>
                <div class="form_input_container">
                    <label for="product_code">Product Code (Not Authorized to Change)</label>
                    <input readonly type="text" name="product_code" id="product_code" value="{{product.product_code}}">
                    <span class="form_error_msg"></span>  
                </div>

                <div class="form_input_container">
                    <label for="product_name">Product Name</label>
                    <input type="text" name="product_name" id="product_name" value="{{product.title}}">
                    <span class="form_error_msg">{{errors.title}}</span>  
                </div>
    
                <div class="form_input_container">
                    <label for="product_category">Product Category</label>
                    <select name="product_category" id="product_category">

                        {{#if product.category.title}}
                            
                            {{#each categories}}

                                {{#if_eq ../product.category.title this.title}}
                                    <option selected value="{{this.title}}">{{this.title}}</option>
                                {{else}}
                                    <option value="{{this.title}}">{{this.title}}</option>
                                {{/if_eq}}
                                
                            {{/each}}

                        {{else}}
                            <option value="none">No Categories Found</option>
                        {{/if}}

                    </select>
                    <span class="form_error_msg"></span>    
                </div>

                <div class="form_input_container">
                    <label for="product_quantity">Product Quantity in Stock (Not Authorized to Change: Order from Supplier to Restock)</label>
                    <input readonly type="number" value="{{product.current_quantity}}" name="product_quantity" id="product_quantity">
                    <span class="form_error_msg"></span>  
                </div>

                <div class="form_input_container">
                    <label for="product_quantity_min">Product Quantity Minimum</label>
                    <input  type="number" min="0" value="{{product.min_qty}}" name="product_min_quantity" id="product_quantity_min">
                    <span class="form_error_msg">{{errors.min_qty}}</span>  
                </div>

                <div class="form_input_container">
                    <label for="product_quantity_max">Product Quantity Maximum</label>
                    <input  type="number" min="0" value="{{product.max_qty}}" name="product_max_quantity" id="product_quantity_max">
                    <span class="form_error_msg">{{errors.max_qty}}</span>  
                </div>

                <div class="form_input_container">
                    <label for="product_cost_price">Product Cost Price (Estimated)</label>
                    <input type="number" step="0.01" value="{{product.cost_price}}" min="0" name="product_cost_price" id="product_cost_price">
                    <span class="form_error_msg">{{errors.cost_price}}</span>  
                </div>

                <div class="form_input_container">
                    <label for="product_selling_price">Product Selling Price</label>
                    <input type="number" step="0.01" value="{{product.selling_price}}" min="0" name="product_selling_price" id="product_selling_price">
                    <span class="form_error_msg">{{errors.selling_price}}</span>  
                </div>

                <div class="form_input_container">
                    <label for="product_img">Product Image Path (Or Upload Image File Below)</label>
                    <input type="text" name="product_img" id="product_img" value="{{product.image_path}}">
                    <span class="form_error_msg">{{errors.image_path}}</span>  
                </div>

                <div class="form_input_container">
                    <label for="product_img_upload">Product Image Upload (Or Enter Image Directory Above)</label>
                    <input type="file" name="product_img_upload" id="product_img_upload">
                    <span class="form_error_msg">{{errors.upload_image}}</span>  
                </div>

                <div class="form_input_container">
                    <label for="product_bestseller">Bestseller Status</label>
                    <select name="product_bestseller" id="product_bestseller">
                        <option {{#if_eq product.is_best_seller 0}} selected {{else}} {{/if_eq}} value="No">No</option>
                        <option {{#if_eq product.is_best_seller 1}} selected {{else}} {{/if_eq}} value="Yes">Yes</option>
                    </select>
                    <span class="form_error_msg"></span> 
                </div>

                <div class="form_input_container">
                    <label for="product_description">Product Description</label>
                    <textarea name="product_description" id="product_description" cols="100" rows="25">{{#if product.description}}{{product.description}}{{else}}{{/if}}</textarea>
                    <span class="form_error_msg">{{errors.description}}</span>  
                </div>
            </div>

            <div>
                <div class="form_input_container">
                    <h3>Estimated Cost Price:</h3>
                    <p>${{product.cost_price}}</p>
                </div>

                <div class="form_input_container">
                    <h3>Estimated Stock Value (Selling Price):</h3>
                    <p>${{calc_stock_val product.selling_price product.current_quantity}}</p>
                </div>

                <div class="form_input_container">
                    <h3>Product Created and Added:</h3>
                    <p>{{product.date_created}}</p>
                </div>

                <div class="form_input_container">
                    <h3>Product Last Updated:</h3>
                    <p>{{product.last_modified}}</p>
                </div>

                <div>
                    <input type="hidden" name="product_category_id">
                    <input type="hidden" name="product_category_description">
                    <input type="hidden" name="product_category_image_path">
                    <input type="hidden" name="product_category_date_created">
                    <input type="hidden" name="product_category_last_modified">
                    <input type="hidden" name="product_date_created">
                    <input type="hidden" name="product_last_modified">
                </div>

                <div>
                    <button type="button" id="delete_product_btn" class="button_class product_button event_button remove_button"><i class="fas fa-minus"></i> Delete Product</button>
                </div>
            </div>
            
        </div>
        <div>
            <button type="submit" class="button_class product_button">Accept Changes <i class="fas fa-arrow-right"></i></button>
            <a href="/employee/edit-stock/products" class="button_class product_button"><i class="fas fa-arrow-left"></i> Go Back</a>
        </div>
    </form>
</section>