<nav>
    <div id="logo_div">
        <a href="/"><img src="/img/cyberdise_logo_no_bg.png" alt="Cyberdise Logo"></a>
    </div>
    <div>
        <h2>
            Your #1 Online Store
        </h2>    
    </div>  
    <div>
        <a href="/"><img class="floating_icons" src="/img/icons/home.png" alt="Home Icon">Home</a>    
    </div>  
</nav>
<h1>
    <span class="white_words">Hello,</span> Signup <span class="white_words">or Login Below</span>
</h1>
<section id="signup_login_form_section" class="width_container">
    <section class="animate__animated animate__backInLeft" id="signup_form_section_left">
        <div>
            <div>
                <h2>
                    Not a Member? 
                </h2> 
                <h2>
                    Signup to Create an Account!
                </h2>   
            </div>
            <div>
                <form id="signup_form" action="/signup/create-account" method="POST" novalidate="novalidate" autocomplete="off"> 
                    <div class="form_error_msg">
                        <p>Please Enter All Details Correctly into the Form Below</p>
                    </div>

                    <div>
                        <div>
                            <label class="required" for="first_name">First Name</label>
                            <input value="{{created_customer.first_name}}" type="text" name="first_name" id="first_name" placeholder="Your First Name Here...">
                            <span class="form_error_msg">{{errors.first_name}}</span>
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            <label class="required" for="last_name">Last Name</label>
                            <input value="{{created_customer.last_name}}" type="text" name="last_name" id="last_name" placeholder="Your Last Name Here...">
                            <span class="form_error_msg">{{errors.last_name}}</span>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label class="required">Gender</label>  
                        </div>
                        <div>
                            <label class="gender_label" for="male">Male</label>
                            <input {{#if_eq created_customer.gender "male"}} checked {{/if_eq}} type="radio" name="gender" id="male" value="male">
                            <label class="gender_label" for="female">Female</label>
                            <input {{#if_eq created_customer.gender "female"}} checked {{/if_eq}} type="radio" name="gender" id="female" value="female">
                            <span class="form_error_msg">{{errors.gender}}</span>     
                        </div>
                    </div>
                    
                    <div>
                        <label class="required" for="country">Country</label>
                        <select name="country" id="country">
                            {{#if created_customer.country}} <option id="top_selection" value="{{created_customer.country}}">{{created_customer.country}}</option> {{else}} <option id="top_selection" value="">Click Here to Select Your Location...</option> {{/if}}
                            <div></div>
                            <!--<option></option> 
                            <option #if_eq created_customer.country "Albania" selected /if_eq value="Trinidad" >Trinidad</option>
                            <option value="Scotland">Scotland</option>-->
                        </select>
                        <input type="hidden" id="testtt" name="testtt" value=""> <!--TO TEST SENDING JSON FROM CLIENT TO SERVER-->
                        <input type="hidden" id="country_flag_src" name="country_flag_src" value="">
                        <span><img id="country_flag" {{#if created_customer.country_flag_src}} src="{{created_customer.country_flag_src}}" {{else}} src="" {{/if}} alt="" width="122" height="64"></span>
                        <span class="form_error_msg">{{errors.country}}</span>   
                    </div>
                    
                    <div>
                        <label class="required" for="username">Username</label>
                        <input value="{{created_customer.username}}" name="username" id="username" placeholder="Your Username Here...">
                        <span class="form_error_msg">{{errors.username}}</span>     
                    </div>
                    
                    <div>
                        <label class="required" for="email">Email</label>
                        <input value="{{created_customer.email}}" type="email" name="email" id="email" placeholder="Your Email Here...">
                        <span class="form_error_msg">{{errors.email}}</span>     
                    </div>
                    
                    <div>
                        <div>
                            <label class="required" for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Your Password Here...">
                            <span class="form_error_msg">{{errors.password}}</span>
                            <span id="password_msg">Password must contain at least 6 characters, one uppercase letter (A-Z) 
                                and one number (0-9)</span> 
                        </div>
                        <div>
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password Here...">  
                            <span class="form_error_msg">{{errors.confirm_password}}</span>       
                        </div>
                    </div>

                    <a href="/">Return to Home Page</a>
                    <button id="signup_btn"class="button_class" type="submit">Create Your Account</button>
                </form>
            </div>    
        </div>
    </section>
    <section class="animate__animated animate__backInRight" id="login_form_section_right">
        <div>
            <div>
                <h2>
                    Already a Member? 
                </h2>    
                <h2>
                    Login and Start Shopping Now!    
                </h2>
            </div>             
            <div>
                <form id="login_form" action="/auth/login" method="POST" novalidate="novalidate" autocomplete="off">
                    <div class="form_error_msg">
                        <span class="form_error_msg">{{exists_errors.result}}{{authenticated_errors.result}}</span>
                    </div>

                    <div>
                        <label for="username_email">Email/Username</label>
                        <input value="{{login_customer.username_email}}" name="username_email" id="username_email" placeholder="Enter a Valid Email or Username...">
                        <span class="form_error_msg">{{errors.username_email_login}}</span>  
                    </div>
                    
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter a Valid Password...">
                        <span class="form_error_msg">{{errors.password_login}}</span>  
                    </div>
                    
                    <a href="">Forgot Your Password?</a>
                    <button id="login_btn" class="button_class" type="submit">Login Now</button>
                </form>
            </div>
        </div>
    </section>    
</section>

