<section >
    <div>
        <div class="greeting_msg width_container">
            {{> customer_welcome_msg}}
            <p>Edit Account Details Below</p>
        </div>
        <div class="profile_container">
            <div>
                <form action="/customer/my-account" class="form_class form_grid">
                    <div>
                        <div>
                            <h2>Your Customer Profile Details</h2>       
                        </div>
                        <div>

                            <div>
                                <label for="country">Country</label>
                                <select name="country" id="country">
                                    {{#if user_info.country}} <option id="top_selection" value="{{user_info.country}}">{{user_info.country}}</option> {{/if}}
                                </select>
                                <!--<input type="hidden" id="testtt" name="testtt" value=""> TO TEST SENDING JSON FROM CLIENT TO SERVER-->
                                <input type="hidden" id="country_flag_src" name="country_flag_src" value="">
                                <div>
                                    <img id="country_flag" {{#if user_info.country_flag_src}} src="{{user_info.country_flag_src}}" {{/if}} alt="" width="122" height="64">
                                </div>
                                <span class="form_error_msg">{{errors.country}}</span>   
                            </div>

                            <div class="form_input_container">
                                <label for="postcode">Postcode</label>
                                <input type="text" name="postcode" id="postcode" value="{{user_info.postcode}}">
                            </div>

                            <div class="form_input_container">
                                <label for="address_line_1">Address Line 1</label>
                                <textarea name="address_line_1" id="address_line_1" cols="30" rows="3" value="{{user_info.address_line_1}}"></textarea>
                            </div>

                            <div class="form_input_container">
                                <label for="address_line_2">Address Line 2</label>
                                <textarea name="address_line_2" id="address_line_2" cols="30" rows="3" value="{{user_info.address_line_2}}"></textarea>
                            </div>

                            <div class="form_input_container">
                                <label for="town_city">Town/City</label>
                                <input type="text" name="town_city" id="town_city" value="{{user_info.town_city}}">
                            </div>

                            <div class="form_input_container">
                                <label for="state">State</label>
                                <input type="text" name="state" id="state" value="{{user_info.state}}">
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h2>Your Login & Security Details</h2>       
                        </div>
                        <div>

                            <div class="form_input_container">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" id="first_name" value="{{user_info.first_name}}">
                            </div>

                            <div class="form_input_container">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" id="last_name" value="{{user_info.last_name}}">
                            </div>

                            <div class="form_input_container">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" value="{{user_info.username}}">
                            </div> 

                            <div class="form_input_container">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="{{user_info.email}}">
                            </div>

                            <div class="form_input_container">
                                <label for="phone">Phone Number</label>
                                <input type="tel" name="phone" id="phone" value="{{user_info.phone_num}}">
                            </div>

                            <div class="form_input_container">
                                <label for="cc_num">Credit Card Number</label>
                                <input type="number" name="cc_num" id="cc_num" value="{{user_info.credit_card_num}}" min="0">
                            </div>

                            <div class="form_input_container">
                                <label for="password">Confirm Old Password</label>
                                <input type="password" name="password" id="password" value="">
                            </div>  

                            <div class="form_input_container">
                                <label for="new_password">Enter New Password</label>
                                <input type="password" name="new_password" id="new_password" value="">
                            </div>  

                            <div class="form_input_container">
                                <label for="new_confirm_password">Confirm New Password</label>
                                <input type="password" name="new_confirm_password" id="new_confirm_password" value="">
                            </div>  

                        </div>
                    </div>

                    <div>
                        <button type="submit" class="button_class product_button">Accept Changes <i class="fas fa-arrow-right"></i></button>
                        <a href="/employee/my-account" class="button_class product_button"><i class="fas fa-arrow-left"></i> Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>