<section>
    <div>
        <div class="greeting_msg width_container">
            {{> customer_welcome_msg}} 
            <p>View and Edit Account Details Below</p>
        </div> 
        <div class="centre_items">
            <div>
                <div>
                    <h2 >Your Items</h2>
                    {{#if cart_item_total}}
                        <p id="product_cart_msg">You have {{cart_item_total}} products in your shopping cart</p>
                    {{else}}
                        <p id="product_cart_msg">You have no products in your shopping cart</p>
                    {{/if}}
                </div>
                <div>
                    <a class="button_class product_button" href="/customer/my-cart">View Shopping Cart</a>  
                </div> 
            </div>    
        </div>
        <div class="profile_container">
            <div >
                <div>
                    <div>
                        <h2>Your Customer Profile</h2>       
                    </div>
                    <div>
                        <div>
                            <h2>Address</h2>    
                        </div> 
                        <div>
                            <h3>Country/Region:</h3>
                            <p> {{#if user_info.country}} {{user_info.country}} {{else}} --- {{/if}} </p>  
                        </div>
                        <div>
                            <h3>Address Line 1:</h3>
                            <p> {{#if user_info.address_line_1}} {{user_info.address_line_1}} {{else}} --- {{/if}} </p>  
                        </div>
                        <div>
                            <h3>Address Line 2:</h3>
                            <p> {{#if user_info.address_line_2}} {{user_info.address_line_2}} {{else}} --- {{/if}} </p>  
                        </div>
                        <div>
                            <h3>Town/City:</h3>
                            <p> {{#if user_info.town_city}} {{user_info.town_city}} {{else}} --- {{/if}} </p>  
                        </div>
                        <div>
                            <h3>State:</h3>
                            <p> {{#if user_info.state}} {{user_info.state}} {{else}} --- {{/if}} </p>  
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <h2>Your Login & Security Details</h2>       
                    </div>
                    <div>
                        <div>
                            <div>
                                <h3>Name:</h3>
                                <p> {{#if user_info.first_name}} {{#if user_info.last_name}} {{user_info.first_name}} {{user_info.last_name}} {{else}} --- {{/if}} {{/if}} </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Username:</h3>
                                <p> {{#if user_info.username}} @{{user_info.username}} {{else}} --- {{/if}} </p> 
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Email:</h3>
                                <p> {{#if user_info.email}} {{user_info.email}} {{else}} --- {{/if}} </p> 
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Phone Number:</h3>
                                <p> {{#if user_info.phone_num}} {{user_info.phone_num}} {{else}} --- {{/if}} </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Credit Card Number:</h3>    
                                <p> {{#if user_info.credit_card_num}} {{user_info.credit_card_num}} {{else}} --- {{/if}} </p>
                            </div>    
                        </div>
                        <div>
                            <div>
                                <h3>Password:</h3>    
                                <p>Edit Profile to Change</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <a class="button_class product_button" href="/customer/edit-account">Edit Customer Profile</a>    
            </div> 
        </div>
        <div>
            <a href="/auth/logout" class="button_class product_button" type="submit">Logout</a>
        </div>
    </div>
</section>
