<section class="width_container">
    <div class="greeting_msg">
        {{> cart_welcome_msg}}
        <p>View and Edit Cart Details Below or Click Order to Proceed</p>
    </div>
</section>
<section class="width_container">
    <div class="my_cart_container">

            {{!--<div class="my_cart_items_container">
                <div>
                    <div>
                        <img src="/img/apple_pc.jpg" width="500px" alt="">
                    </div>
                    <div>
                        <h2>Name</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <a class="button_class product_button" href="/products/product-overview" target="_blank"><i class="fas fa-link"></i> View Item</a>
                    </div>
                    <div>
                        <h2>Quantity</h2>
                        <div class="product_quantity">
                        <button type="button"><i class="fas fa-minus"></i></button>
                        <p>12</p>
                        <button type="button"><i class="fas fa-plus"></i></button>    
                        </div>
                        
                    </div>
                    <div>
                        <h2>Price</h2>
                        <p>$100.00</p>
                    </div>
                    <div>
                        <button class="button_class product_button remove_button" type="button"><i class="far fa-times-circle"></i> Remove this Order</button>
                        <form action="" method="GET">
                            <button class="button_class product_button" type="submit">Place this Order</button>    
                        </form>
                    </div>
                </div> 
            </div>--}}

        {{#each cart_products}}

            <div class="my_cart_items_container">
                <div>
                    <div>
                        <img src="{{this.product.image_path}}" width="500px" alt="">
                    </div>
                    <div>
                        <h2>Name</h2>
                        <p>{{this.product.title}}</p>
                        <a class="button_class product_button" href="/products/product-overview/{{this.product.product_code}}" target="_blank"><i class="fas fa-link"></i> View Item</a>
                    </div>
                    <div>
                        <h2>Quantity</h2>
                        <div class="product_quantity">
                        {{!--<button id="decr_product_qty" type="button"><i class="fas fa-minus"></i></button>--}}
                        <p id="product_qty">{{this.cart_quantity}}</p>
                        {{!--<button id="incr_product_qty" type="button"><i class="fas fa-plus"></i></button>--}}  
                        </div>
                        
                    </div>
                    <div>
                        <h2>Price</h2>
                        <p>${{calc_cart_sub_total this.cart_quantity this.product.selling_price}}</p>
                        <p>(${{this.product.selling_price}} per item)</p>
                    </div>
                    <div>
                        <form action="/customer/my-cart/delete/{{this.product.product_code}}?method=delete" method="POST">
                            <button id="remove_order_{{this.product_code}}" class="button_class product_button remove_button" type="submit"><i class="far fa-times-circle"></i> Remove this Order</button>
                        </form>
                        <form action="" method="POST">
                            <button id="place_order_{{this.product_code}}" class="button_class product_button" type="submit">Place this Order</button>    
                        </form>
                    </div>
                </div> 
            </div>

        {{else}}

            <div class="no_product_msg">
                <h2>No Products in Cart</h2>
            </div>
            <form action="/products/all-products">
                <button type="submit" class="button_class product_button no_product_btn">Go to Products Section</button>
            </form>  

        {{/each}}

        {{#if cart_products}}

            <div>
                <h2>Order Total:</h2>
                <p>

                    ${{calc_cart_total cart_products}}

                </p>
                <form action="/customer/confirm-order" method="POST">
                    <button class="button_class product_button" type="submit">Order All Items</button>
                </form>
            </div>

        {{/if}}

    </div>
</section>
