<section class="width_container">
    {{#if product}}
        <div>
            <div class="product_hero_overview">
                <img src="{{product.image_path}}" alt="">
            </div>
            <div class="product_overview">
                <div>
                    <h2>{{product.title}} This Item Name</h2>
                </div>
                <div>
                    <p>{{product.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad maxime culpa accusantium, voluptate temporibus!</p>
                </div>
                <div>
                    <h3>{{product.selling_price}} $10.00</h3>
                </div>
                <div>
                    <p>{{product.title}} In Stock</p>
                </div>
                <div class="product_quantity">
                    <button type="button"><i class="fas fa-minus"></i></button>
                    <p>Qty</p>
                    <button type="button"><i class="fas fa-plus"></i></button>
                </div>
                <div>
                    <form action="/customer/my-cart" method="POST">
                        <button type="submit" class="button_class product_button">Add to Cart</button>
                    </form>
                    <form action="/customer/confirm-purchase" method="POST">
                        <button type="submit" class="button_class product_button">Buy Now</button>
                    </form>    
                </div>  
            </div>
        </div>
    {{else}}

        <div class="no_product_msg">
            <h2>Product Not Available</h2>
        </div>
        <form action="/products/all-products">
            <button type="submit" class="button_class product_button no_product_btn">Return to Products Section</button>
        </form>  

    {{/if}}
</section>
